/* Colors Configuration */
:root {
  --ds-cal-header-bground: #42A5F5;
  --ds-cal-header-txt: white;
  --ds-cal-cel-day-bground: white;
  --ds-cal-cel-day-txt: black;
  --ds-cal-cel-day-bground-survol: #e2e2e2;
  --ds-cal-cel-day-bord-current: #3E9BE6;
  --ds-cal-cel-day-bground-select: #3E9BE6;
}



.ds-cal-global {
  position:absolute;
  display: inline-flex;
  flex-direction: column;
  background-color: none;
  border-radius: 5px;
  -webkit-box-shadow: 1px 2px 10px 0px rgba(0,0,0,0.53); 
  box-shadow: 1px 2px 10px 0px rgba(0,0,0,0.53);
  z-index: 200;
}

.ds-cal-header {
  display: flex;
  flex: 1;
  justify-content: space-between;
  gap: 10px;
  padding: 5px;
  background-color: var(--ds-cal-header-bground);
  color: var(--ds-cal-header-txt);
  font-weight: bold;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.ds-cal-header-title {
  display: flex;
  flex: 1;
  justify-content: center;
}

.ds-cal-btn-navigation {
  cursor: pointer;
}

.ds-cal-btn-navigation-svg {
  width: 15px;
  height: 15px;
  fill: currentColor;
}

.ds-cal-header div:first-child svg {
  stroke : currentColor;
  stroke-width: 2px;
}

.ds-cal-header div:last-child svg {
  stroke : currentColor;
  stroke-width: 2px;
}

.ds-cal-container {
  display: inline-grid;
  grid-template-columns: repeat(7, 1fr);
  background-color: var(--ds-cal-cel-day-bground);
  color: var(--ds-cal-cel-day-txt);
}

.ds-cal-name-day {
  font-size: 0.9em;
  background-color: var(--ds-cal-header-bground);
  color: var(--ds-cal-header-txt);
  padding: 2px;
  text-align: center;
}

.ds-cal-cel-day {
  font-size: 0.9em;
  background-color: var(--ds-cal-cel-day-bground);
  color: var(--ds-cal-cel-day-txt);
  padding: 5px;
  margin: 1px;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
}

.ds-cal-cel-day:hover {
  background-color: var(--ds-cal-cel-day-bground-survol);
}

.ds-cal-cel-current {
  border: 1px solid var(--ds-cal-cel-day-bord-current);
}

.ds-cal-cel-sel {
  background-color: var(--ds-cal-cel-day-bground-select);
  color: white;
}

.ds-cal-cel-sel:hover {
  background-color: var(--ds-cal-cel-day-bground-select);
  color: white;
}

.ds-cal-cel-empty {
  background-color: var(--ds-cal-cel-day-bground);
}